body {
	font-family: 'Roboto', sans-serif;
	background: $secondary-color;
	color: $color;
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	display: none;
}

p {
	margin: 0 20%;
	display: none;
}

hr {
	border-color: $color;
	background-color: $color;
	color: $color;
}
